@model LetsGoOutApp.Models.Lokal

@{
    ViewBag.Title = "Details";
}

<div class="clearfix spacing"></div>

<div class="row">
    <div class="col-md-6">
        <div class="galleria">
            @foreach (var slika in Model.Slike)
            {
                <img src="~/uploads/slike/@slika.Naziv" />
            }
        </div>
        <h1>@Model.Naziv</h1>
        <p>@Model.Opis</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/galleria")
    <script>
        Galleria.loadTheme('/Scripts/themes/classic/galleria.classic.min.js');
        Galleria.run('.galleria');
    </script>
}
