@model IEnumerable<LetsGoOutApp.Models.Dogadjaj>

@{
    ViewBag.Title = "Početna";
}

<section id="banner">
    <h2>Let's Go Out!</h2>
</section>

<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>Šta se dešava?</h2>
            <p>Događaji zakazani uskoro.</p>
        </header>
        <div class="row 150%">
            @foreach (var item in Model)
            {
                <div class="4u 12u$(medium)">
                    <section class="box">
                        <i class="icon big rounded color1 fa-calendar"></i>
                        <h3>@Html.DisplayFor(modelItem => item.naziv)</h3>
                        <p>@Html.DisplayFor(modelItem => item.opis)</p>
                    </section>
                </div>
            }
        </div>
    </div>
</section>